<section class="intro">

    <div class="container">

        <img class="floatleft" src="/assets/images/tree.jpg" width="350">
        <div id="rcornersbox">
            <p class="lead">Welcome to the lab of Sebastian Höhna at Ludwig-Maximilians-Universität München. Our primary aim is to develop new statistical models and computational methods to answer research questions in phylogenetics, which include: (1) estimating phylogenetic relationships; (2) estimating divergence times and rates of molecular evolution; (3) inferring rates and mode of lineage diversification (speciation and extinction); (4) analyzing causes of conflicting gene trees.</p>
        </div>

    </div>

</section>
