<nav class="nav">
  <div class="container" 
    style="position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;">

    <h1 class="logo">
      <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" style="text-decoration: none; color: inherit;">
        <img src="{{ '/assets/images/lablogo_simplified.png' | prepend: site.baseurl | prepend: site.url }}"
          alt="Site Logo" style="max-width: 100%; width: 80px; vertical-align: middle;"> 
        {{ site.title_left }}<span>{{ site.title_right }}</span>
      </a>
    </h1>

    <input type="checkbox" id="nav-toggle" class="nav-toggle" style="display: none;">
    
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul class="navbar nav-links">
      <li><a href="{{ '/people' | prepend: site.baseurl | prepend: site.url }}">People</a></li>
      <li><a href="{{ '/news' | prepend: site.baseurl | prepend: site.url }}">News</a></li>
      <li><a href="{{ '/research' | prepend: site.baseurl | prepend: site.url }}">Research</a></li>
      <li><a href="{{ '/publications' | prepend: site.baseurl | prepend: site.url }}">Publications</a></li>
      <li><a href="{{ '/software' | prepend: site.baseurl | prepend: site.url }}">Software</a></li>
      <li><a href="{{ '/join' | prepend: site.baseurl | prepend: site.url }}">Join Us!</a></li>
    </ul>
    
  </div>
</nav>
