---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

// Main page formatting
#rcornersbox {
  border-radius: 15px;
  background: #44BAAA;
  padding: 20px;
  height: auto;
  width: 50%;
  display: inline-block;
  min-width: 300px;
}

img.floatleft {
    float: left;
    width: 45%;
    max-width: 400px;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.floatright {
    float: right;
    position: relative;
}


// People page formatting
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin-right: 30px;
    margin-bottom: 50px;
}

img.rcornersimage {
    border-radius: 15px;
    vertical-align: top;
    height: auto;
    width: 80%

}

.caption {
    display: block;
}


// Showing the tooltip text on mobile
.blurb {
    display: none;
}

@media only screen and (max-width: 768px) {
    .blurb {
        display: block;
        font-size: calc(10px + 0.5vw);
    }
}


// Hover text
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #44BAAA;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -200px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #44BAAA transparent;
}


// Research page formatting
#rcornersbox1 {
  border-radius: 15px;
  background: #44BAAA;
  padding: 20px;
  display: inline-block;
  height: auto;
  width: 45%;
  min-width: 300px;
  max-width: 500px;
}

#rcornersbox2 {
  border-radius: 15px;
  background: #73BC78;
  padding: 20px;
  display: inline-block;
  height: auto;
  width: 45%;
  min-width: 300px;
  max-width: 500px;
}


// Software page formatting
img.floatleft-small {
    float: left;
    width: 40%;
    max-width: 150px;
    min-width: 50px;
    margin-right: 2%;
    margin-bottom: 2%;
}
